.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
    width: 100%;
}


.fondo {
    background-image: url(../img/fondo.jpg); 
    background-position: center;
    background-size: cover;
    height: 100vh;
   
    /*padding: auto;*/
}

.carta {
    width: 130px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas {
    height: 220px;
}

h1 {
   color: yellow;
   font-weight: bold;
}