.titulo {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

html, body {
    margin: 0;
}

.fondo {
    background: url('../img/fondo.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
}

.carta {
    width: 130px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}

#jugador-cartas, #computadora-cartas {
    height: 220px;
}

h1 {
   color: yellow;
   font-weight: bold;
}